<html>
    <head>
        <link href="./../styles/home.css" rel="stylesheet" />
        <script src="./home.js" defer="defer"></script>
    </head>
    <body>
        <main>
            <h1>Hello World!</h1>
        </main>
    </body>
</html>
